# Laravel Core
/vendor
/node_modules
/public/build
/public/hot
/public/storage

# Environment files
.env
.env.*
!.env.example

# Logs & Cache
*.log
.phpunit.result.cache
.phpactor.json
/.phpunit.cache

# Storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/pail

# IDE / Editors
/.idea
/.vscode
/.zed
/.cursor
/.nova

# OS files
.DS_Store
Thumbs.db

# Auth / Secrets
auth.json

# Testing / Debug
_ide_helper.php

# Homestead (optional)
Homestead.json
Homestead.yaml

# Misc
Review.txt